.DS_Store
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env

# Backend
/backend/images/
/backend/__pycache__/
backend/*.pyc
backend/*.pyo

# Client
/client/node_modules/
/client/build/
/client/.env

# System
Thumbs.db
